.button {
	display: flex;
	gap: 5px;
	align-items: center;

	border-radius: 10px;

	border: none;
	outline: none;

	cursor: pointer;

	color: #fff;
	background-color: rgb(201, 147, 245);
}

div {
	object-fit: contain;
}

img {
	max-width: 100%;
	height: auto;
}
